*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E4EBF0;
    position: fixed;
    width: 100%;
    bottom:0;
    left:0;
}
.logo{
font-size: 2.5rem;
margin-top: 2rem;
}
.texto-footer{
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 2rem;
}
@media (max-width: 707px) {
    .logo-footer{
        display: none;
    }
}